/* styling for address dropdown below */

.autocomplete-dropdown-container {
    box-shadow: 0 4px 6px rgb(32 33 36 / 28%);
    position: absolute;
    width: 90%;
    border-radius: 10px;
}

.autocomplete-dropdown-container > div {
    padding: 10px;
}
