/* TODO Add site wide styles */

:root {
    --main-background: #fff;
    --main-border: #EBEBEB;
    --main-padding: 20px;
    --main-color: rgb(255, 90, 95);
    --main-second-txt-color: #212121;
    --main-gray: rgba(224, 224, 224, 0.493);
    --main-hover: rgba(179, 69, 72, 0.32);

    --page-title: 30px;

    --sidebar-background: #f6f7f8;
    --icon-color: rgb(78, 78, 78);

    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
}

input:focus, textarea:focus, select:focus{
        outline: none;
    }
