/* TODO Add site wide styles */

:root {
    --main-background: #fff;
    --main-border: #EBEBEB;
    --main-padding: 20px;
    --main-color: #0870c5;
    --main-second-txt-color: #212121;
    --main-gray: rgba(224, 224, 224, 0.493);

    --page-title: 30px;

    --sidebar-background: #f6f7f8;
    --icon-color: rgb(78, 78, 78);

    font-family: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
}
